{% extends "base.html" %}

{% block title %}Inicio - UEFA{% endblock %}

{% block content %}
<div class="fifa_hero">
  <div class="fifa_title">
    <h1>UEFA CHAMPIONS LEAGUE</h1>
    <h1 class="text2">TEMPORADA 2021-2022</h1>
    <p>Compara el rendimiento real de los jugadores con sus estadísticas en FIFA 22.</p>
    <div class="fifa_search">
      <p>Explorar jugadores</p>
      <img src="https://cdn-icons-png.flaticon.com/512/49/49116.png" alt="Buscar" />
    </div>
  </div>
</div>
{% endblock %}
